<table>
  <tr>
    <td>Continent Name</td>
    <td>Longitude</td>
    <td>Latitude</td>
    <td>Population</td>
  </tr>
  <tr *ngFor="let continent of continents">
    <td>{{continent.name}}</td>
    <td>{{continent.lng}}</td>
    <td>{{continent.lat}}</td>
    <td>{{continent.population}}</td>
  </tr>
  <tr></tr>
</table>
